gpod-cp
gpod-ls
gpod-rm
gpod-tag
gpod-verify
test-ff-xcode
test-init-ipod
*.swp
Makefile.in
Makefile
*.o
*.m4a
*.mp3
*.wav
*.aac
.deps/

# autofoo stuff
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
